<head>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
  <style>
    body {
      font-family: 'Playfair Display', serif;
    }
  </style>
</head>

<body class="parallax">
  <h1 class="">Which Superhero Are You?</h1>
  <h2 class="text-center"> Want to find out which Superhero you are? Take this 5 min quiz to find out! </h2>
  <p class="text-center pt-5">
    <button type="button" class="btn btn-danger" (click)="qls.startQuiz();">Start Quiz!</button>
  </p>








</body>
<router-outlet></router-outlet>