<body>
        <div class="card down left">
          <div class="card-body">
            <h5 class="card-title">Question goes right here.....?</h5>
            <form>
                <div class="QT">
                    <label class="QT1">Yes</label>
                    <label class="QT2">Kinda</label>
                    <label class="QT3">IDK</label>
                    <label class="QT4">Not Really</label>
                    <label>No</label>
              </div>
                <div class="A">
                  <input type="radio" id="contactChoice1"
                   name="contact" value="email" class="mr-5">
              
                  <input type="radio" id="contactChoice2"
                   name="contact" value="phone" class="mr-5">

                  <input type="radio" id="contactChoice2"
                     name="contact" value="phone" class="mr-5">

                  <input type="radio" id="contactChoice2"
                     name="contact" value="phone" class="mr-5">
              
                  <input type="radio" id="contactChoice3"
                   name="contact" value="mail">
                </div>
              </form>
          </div>
          <div class="card-footer">
            <button>Previous</button>
          </div>
        </div>
        <div class="card down rightM">
          <div class="card-body">
              <h5 class="card-title">Question goes right here.....?</h5>
            <form>
                <div class="QT">
                    <label class="QT1">Yes</label>
                    <label class="QT2">Kinda</label>
                    <label class="QT3">IDK</label>
                    <label class="QT4">Not Really</label>
                    <label>No</label>
                </div>
                  <div class="A">
                    <input type="radio" id="contactChoice1"
                     name="contact" value="email" class="mr-5">
                
                    <input type="radio" id="contactChoice2"
                     name="contact" value="phone" class="mr-5">

                    <input type="radio" id="contactChoice2"
                     name="contact" value="phone" class="mr-5">

                    <input type="radio" id="contactChoice2"
                     name="contact" value="phone" class="mr-5">
                
                    <input type="radio" id="contactChoice3"
                     name="contact" value="mail">
                  </div>
                </form>
          </div>
          <div class="card-footer">
            <button class="btn-right">Next</button>
          </div>
        </div>
        <div class="card down right">
          <div class="card-body">
              <h5 class="card-title">Question goes right here.....?</h5>
            <form>
                <div class="QT">
                <label class="QT1">Yes</label>
                <label class="QT2">Kinda</label>
                <label class="QT3">IDK</label>
                <label class="QT4">Not Really</label>
                <label>No</label>
                </div>
                  <div class="A">
                    <input type="radio" id="contactChoice1"
                     name="contact" value="email" class="mr-5">
                
                    <input type="radio" id="contactChoice2"
                     name="contact" value="phone" class="mr-5">

                    <input type="radio" id="contactChoice2"
                     name="contact" value="phone" class="mr-5">

                    <input type="radio" id="contactChoice2"
                     name="contact" value="phone" class="mr-5">
                
                    <input type="radio" id="contactChoice3"
                     name="contact" value="mail">
                  </div>
                </form>
          </div>
          <div class="card-footer pad">
            <small class="text-muted">Page: 1</small>
          </div>
        </div>
</body>
